@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body  {
  /* position: absolute; */
  /* width: 100%;
  height: 100%;
  min-height: 940px; */
  min-height: 940px;
    background: linear-gradient(135deg, rgba(169, 34, 47, 0.26) 0%,
    rgba(169, 34, 47, 0.26) 7%,
    rgba(151, 53, 85, 0.26) 7%,
    rgba(151, 53, 85, 0.26) 23%,
    rgba(133, 72, 124, 0.26) 23%,
    rgba(133, 72, 124, 0.26) 33%,
    rgba(114, 92, 162, 0.26) 33%,
    rgba(114, 92, 162, 0.26) 63%,
    rgba(96, 111, 201, 0.26) 63%,
    rgba(96, 111, 201, 0.26) 90%,
    rgba(78, 130, 239, 0.26) 90%,
    rgba(78, 130, 239, 0.26) 100%),
    linear-gradient(90deg, rgba(23, 178, 123, 0.26) 0%,
            rgba(23, 178, 123, 0.26) 1%,
            rgba(39, 182, 133, 0.26) 1%,
            rgba(39, 182, 133, 0.26) 20%,
            rgba(56, 185, 143, 0.26) 20%,
            rgba(56, 185, 143, 0.26) 22%,
            rgba(72, 189, 154, 0.26) 22%,
            rgba(72, 189, 154, 0.26) 27%,
            rgba(89, 192, 164, 0.26) 27%,
            rgba(89, 192, 164, 0.26) 56%,
            rgba(105, 196, 174, 0.26) 56%,
            rgba(105, 196, 174, 0.26) 100%),
    linear-gradient(90deg, rgb(19, 41, 73) 0%,
            rgb(19, 41, 73) 1%, rgb(23, 37, 95) 1%,
            rgb(23, 37, 95) 19%, rgb(27, 33, 118) 19%,
            rgb(27, 33, 118) 27%, rgb(31, 29, 140) 27%,
            rgb(31, 29, 140) 53%, rgb(36, 26, 163) 53%,
            rgb(36, 26, 163) 64%, rgb(40, 22, 185) 64%,
            rgb(40, 22, 185) 79%, rgb(44, 18, 208) 79%,
            rgb(44, 18, 208) 83%, rgb(48, 14, 230) 83%,
            rgb(48, 14, 230) 100%);
  } 



.text-center{
  text-align: center
}

.billing-sec{
    background: #e2e2e2;
    padding: 50px 0
}
.widget-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 1024px){
    .widget-container {
        width: 750px;
    }
}
@media (max-width: 1024px){
  .resp-tbl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (min-width: 992px){
  .widget-container {
      width: 970px;
  }
  .invoice-frm-sec{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}
@media (min-width: 1200px){
    .widget-container {
        width: 1170px;
    }
}
@media (max-width: 767px){
  .modal-box{
    top:3px !important
  }
  .address-sec {
    margin-bottom: 0 !important;
  }
  .irnn {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .irnn-main{
    flex-wrap: wrap;
  }
  .irnn-input{
    margin: 5px 0;
  }
}
@media (max-width: 768px){
  
  .modal-box {
    width: 95% !important;
}
  
  .addi-notes .notearea,
  .addi-notes .notearea textarea{
    margin-right: 0 !important;
    width:100%;
  }
  
}
@media (max-width: 550px){
  .tabs li a {
    padding: 7px 5px 10px 5px !important;
  }
  .frm-group{
    margin-right: 0 !important;
  }
  .frm-grp {
    justify-content: center !important;
}
.frm-grp a:first-child {
  margin-right: 0 !important;
} 
.frm-grp a{
  margin-top: 10px;
}
 .c-total{
   width: 100%;
 } 
 .c-total ul li{
   border-bottom: 1px solid #4e4e4e
 }
 .frm-grp{
   margin-top: 20px;
 }
 
}
@media (min-width: 991px){

.balance-pay{
  top: 49px;
  position: absolute;
}

}
@media (min-width: 320px){
  .srcblk input{
    width: 200px
  }
  }
  @media (min-width: 600px){
    .txt-right{
      text-align:right
    }
  .sec-g{
    display: grid;
    grid-template-columns: 2fr auto;
    align-items: center;
  }
}

.balance-pay{
  color: #2b2b2b;
  font-weight: 900;
  font-size: 28px;
}


/* billing tab */

.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .tabs li {
    float: left;
    border: 1px solid #40a9c7;
    background: #e0e0e0;
    border-radius: .25rem;
  }
  .tabs li:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: -1px;
}
.tabs li:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
  
  .tabs li a {
    display: block;
    padding: 7px 30px 10px 30px;
    font-size: 16px;
    color: #40a9c7;
    text-decoration: none;
    font-weight: 700
  }
  
  .tabs li a:hover {
    background: #ccc;
  }
  
  .tabs li.active,
  .tabs li.active a:hover {
    background: #40a9c7;
  }
  .tabs li.active a{
      color: #fff
  }
  
  .tab_content {
    padding: 20px 0;
    font-size: 16px;
  }

  .sec-row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

  .sec-row .sec-title h3{
      font-size: 18px;
      text-transform: uppercase;
      color: #343434
  }

  .select2-container--default .select2-selection--single{
      border: 1px solid #76bcd0 !important;
      height: 36px !important;
      background-color: transparent !important
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
      line-height: 36px !important;
      color: #40a9c7 !important;
      font-weight: 600
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 34px !important;
  }
  .select2-container--default .select2-results__group{
      font-size: 12px;
      color: #d9d9d9;
      padding-bottom: 0 !important;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected]{
      background-color: transparent !important;
      color: #515151 !important;
      
  }
  .select2-container--default .select2-results__option .select2-results__option,
  .select2-container--default .select2-results__option--highlighted[aria-selected]{
    font-size: 14px
  }
  .select2-results__option{
    padding: 2px 6px !important;
  }
  .select2-results{
    position: relative;
  }
  .select2-results:after,
  .select2-results:before {
    bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  }
  .select2-results:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
  }
  .select2-results:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #;
    border-width: 10px;
    margin-left: -10px;
  }
  .select2-dropdown{
      border: 0 !important;
      top: 12px;
      box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
      border-radius: 2px !important
  }
  .select2-search--dropdown{
      display: none !important
  }
  .select2-container--default .select2-results__option[aria-selected=true]{
    background-color:transparent !important;
    color: #40a9c7
  }
  .srcblk input{
    border:1px solid#40a9c7;
    padding:10px;
    border-radius: 5px
  }
 
  .btn-green{
      background: #96c841
  }
  .btn-outline{
    border: 1px solid #40a9c7;
    color:#40a9c7
}

  .btn-color-white{
      color: #fff
  }
  .frm-widgt h2{
  font-weight: 900;
  font-size: 28px;
  }
.frm-widgt h2 span{
  color: #018001
}
 .bdr-radius{
      border-radius: 5px
  }
  .grey-btn{
    background: #efefef;
    color: #979797
  }
  .select2-container .select2-selection--single .select2-selection__rendered:focus{
    outline: 0 !important
  }

  .btn-all{
    text-decoration: none;
    padding: 8px 20px 10px 20px;
    font-weight: 600;
    display: inline-block;
    text-align: center
  }
  .btnw250{
    width: 250px;
  }
  .invoice-tbl{
      width: 100%;
      border-collapse: collapse;
      box-sizing: border-box;
    width: 100%;
  }
  td, th {
    display: table-cell;
    vertical-align: inherit;
}
  *, ::after, ::before {
    box-sizing: border-box;
}
  .invoice-tbl input[type="text"],
  .invoice-tbl select{
    border: 0;
    padding: 8px 10px;
    border-radius: 3px;
    box-sizing: border-box;
    outline: 0;
    /* width: 100% */
  }
  .invoice-tbl th,
  .invoice-tbl td{
      text-align: left;
      padding: 5px 8px;
  }
  .invoice-tbl td{
      background: #fff;
      font-size: 14px
  }
  .invoice-tbl td a{
    color: #40a9c7
  }
  .text-center{
    text-align: center !important;
  }
  .w-100{width: 100%;}
  .online-claim{
    display: none
  }
  .tblexta td{
    background: transparent;
    padding: 6px 3px;
  }
  .poptle{
    margin: 10px 0 !important
  }
  .tblexta th{
      background: #cdcdcd !important;
      font-size: 15px;
      font-weight: 600;
      border: 0 !important
  }
  .invoice-tbl th{
    background: #f2f2f2;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
  }
  .invoice-tbl th:last-child{
    border-right: 0
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color:#40a9c7 !important;
  border-width: 0 3px 3px 0 !important;
  border-style:solid !important;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: -8px !important;
  margin-top: -6px !important;
  }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border: solid #40a9c7;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  top: 20px;
  }
  .resp-tbl{
    margin-top: 20px;
  }
  

  /* popup model */
  .modal-box {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 98%;
    background: #e7e7e7;
   /* border-bottom: 1px solid #aaa;*/
    border-radius: 4px;
    /*box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);*/
    background-clip: padding-box;
  }
  
  .modal-box header,
  .modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
  }
  
  .modal-box header h3,
  .modal-box header h4,
  .modal-box .modal-header h3,
  .modal-box .modal-header h4 { margin: 0; }
  
  .modal-box .modal-body { padding: 0 1.5em 2em 1.5em; }
  
  .modal-box footer,
  .modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
  }
  
  .modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9) !important;
  }
  
  a.close {
    line-height: 1;
    font-size: 1.2em;
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration: none;
    color: #bbb;
    background: #52afca;
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50px;
    line-height: 15px;
  }
  
  a.close:hover {
    color: #fff;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
  }
  @media (max-width: 31em) {
    .modal-box { width: 95% !important; }
  }
  @media (min-width: 32em) {
    .modal-box { width: 100%; }
    
  }
 
  .section-widget h2{
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #282828;
    font-size: 22px
  }
 
 .form-outer{
  margin: 0;
  padding: 0;
 }
 .form-outer li{
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: center;
  margin-bottom: 10px;
}

 .form-outer > li > label,
 .form-outer li p {
      flex: 1 0 98px;
    max-width: 98px;
}
.add-btn{
    background: #40a9c7;
    color: #fff;
    font-weight: 700;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 10px;
    font-size: 30px;
}

.referral-sec{
  display: flex;
}
.referral-sec select{
  border-top-right-radius:0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0 !important;
  width: 147px;
}

 .form-outer > li > label + * {
  flex: 1 0 220px;
}

 .form-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

 .form-outer li {
  width: 318px;
}
.form-outer input[type="text"],
.form-outer select{
  border: 1px solid #d9d9d9;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.frm-group {
  margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}


.frm-group label {
  width: 78px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}


.frm-group input[type="text"],
.frm-group select{
  border: 1px solid #d9d9d9;
  padding: 8px 10px;
  border-radius: 3px;
  box-sizing: border-box;
  outline: 0;
}
.width190{
  width: 190px
}
.infom{
  width: 22px;
  height: 22px;
  background: #acacac;
  color: #e5e5e5;
  font-style: normal;
  text-align: center;
  border-radius: 100px;
  margin-left: 10px;
}
.dtpic{
  position: relative;
}
.dtpic img{
  position: absolute;
    right: 8px;
    width: 17px;
    top: 8px;
    cursor: pointer;
    display: block;
}
.tbl-date input{
  border: 1px solid #d9d9d9;
    padding: 8px 10px;
    border-radius: 3px;
    box-sizing: border-box;
    outline: 0;
}
.tbl-date img{
  position: absolute;
  right: 10px;
    width: 17px;
    top: 8px;
}
.wid115{
  width: 115px
}
.wid75{
  width: 75px
}
.wid60{
  width: 60px
}
.wid270{
  width: 270px
}
.light-grey{
  background: #ededed
}

.addi-notes{
  display: flex;
    align-items: flex-end;
    padding: 20px 0;
    flex-wrap: wrap
}

.addi-notes .notearea{
  margin-right: 15px;
}
.addi-notes .notearea textarea{
  border: 1px solid #d9d9d9;
    padding: 8px 10px;
    border-radius: 3px;
    outline: 0;
    width: 300px
}
.note-services ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.note-services ul li{
  padding: 5px 0
}
.note-services ul li label{
  color: #373737;
  font-size: 14px
}

.c-total ul{
list-style-type: none;
padding: 0;
margin: 0;
}
.c-total ul li{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0;
  column-gap: 50px
}
.c-total ul li span{
  font-weight: 600;
  color: #585858;
  font-size: 14px
}
.c-total ul li span:last-child{
  text-align: right
}
.frm-grp{
  display: flex;
    justify-content: flex-end;
    flex-wrap: wrap
}
.frm-grp a:first-child{
  margin-right: auto;
  margin-left: 0;
}
.frm-grp a{
  margin-left: 10px;
}
.online-claim{
float: right;
    text-align: right;
}
.online-claim .frm-group {
  margin-right: 0;
}
.online-claim .frm-group input{
  width: 100px;
  text-align: right;
  text-transform: uppercase
}
.online-claim .frm-group{
  display: flex;
  justify-content: flex-end;
}

/* radio buttion */
.radio-grp ul{
  padding: 0;
  margin: 0;
  display: flex
}
.radio-grp ul li{
  color: #313131;
  display: block;
  position: relative;
}

.radio-grp ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}
.amt-m{
  display: flex;
  align-items: center;
  margin-bottom:10px
}
.amt-m label{
  width: 80px
}
.amt-m input{
  width: 100px
}

.plus-sign{
  font-size: 20px;
  text-decoration: none;
font-weight: 900;
color: #4e4e4e
}

.radio-grp ul li label{
  display: block;
    position: relative;
    padding: 0 25px 0 25px;
    margin: 10px auto;
    height: auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    width: auto
}

.radio-grp ul li:hover label{
	color: #40a9c7;
}

.radio-grp ul li .check{
  display: block;
    position: absolute;
    border: 2px solid #40a9c7;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 10px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.radio-grp ul li:hover .check {
  border: 2px solid #40a9c7;
}

.radio-grp ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 1px;
  left: 1px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}




.radio-grp input[type=radio]:checked ~ .check {
  border: 2px solid #40a9c7;
}

.radio-grp input[type=radio]:checked ~ .check::before{
  background: #40a9c7;
}

.radio-grp input[type=radio]:checked ~ label{
  color: #40a9c7;
}

.pagination-sec{
  background: #f2f2f2;
  display: flex;
  padding: 2px
}
.pagination a {
  float: left;
  text-decoration: none;
  transition: background-color .3s;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  text-align: center;
  line-height: 22px;
  font-size: 12px;
  border:1px solid #40a9c7; 
  margin: 2px;
}

.pagination a.active {
  background-color: #40a9c7;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.address-sec{
  margin-bottom: 15px;
}
.flex-column {
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}
.d-flex {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
}
.crinfo{justify-content: space-between; margin-top: 20px; flex-wrap: wrap;}
.logonm{font-weight: 700; color: #000; text-decoration: none; font-size: 18px; margin-bottom: 0.4rem!important;}
.irnn{margin-top: 1.3rem}
.irnn label{
width: auto; font-weight: 700;
}
.irnn span{
color: green; font-weight: 700; font-size: 12px;
}
